.mprice-list {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid #007bff; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    background-color: #ceb4cc;/* Light gray background */
    width: 60%; /* Adjust the width of the box */
    margin: 0 auto; /* Center the box horizontally */
}

.mprice-list h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 46px; /* Increased font size */
}

.mprice-list ul {
    list-style-type: none;
    padding: 0;
}

.mprice-list li {
    margin-bottom: 10px;
    font-size: 18px; /* Increased font size */
}

.mprice-list .mitem {
    font-weight: bold;
    font-size: 40px;
}

.mprice-list .price {
    color: #28a745; /* Green color for prices */
    font-size:30px;
}

.additional-design {
    text-align: center;
    margin-top: 50px;
}

.additional-design p {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
}

.service-box {
    border: 1px solid #ccc; /* Add border to create a box */
    padding: 20px; /* Add padding inside the box */
    margin-bottom: 20px; /* Add space between boxes */
}

.service-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.service-box ul {
    list-style: none;
    padding: 0;
}

.service-box li {
    margin-bottom: 5px;
}

.button {
    display: block;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}
