/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-size:cover;
  background-repeat: no-repeat;
  
}


.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #1a1818;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700;
}

.hero {
  
  background-size: cover;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  margin-top: 0;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e4d9d9;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero .btn:hover {
  background-color: #ffd700;
}

/* Basic styling for the footer 
footer {
background-color: #ec73a7;
padding: 50px;
text-align: center;
font-size: 10px;
color: #333;
position: fixed;
left: 0;
bottom: 0;
width: 50%;
}

/* Optional: Add some margin to the bottom of the page */
/* body {
margin-bottom: 60px; /* Adjust as needed */
*/



/* Media queries for responsiveness
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  } */

  header {
    padding: 15px 0;
  }

  nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }

  .hero {
    padding: 80px 0;
  }
/*
  .hero h2 {
    font-size: 25px;
  }

  .hero p {
    font-size: 16px;
  }
*/
  .hero .btn {
    padding: 8px 16px;
  
  }

h2 {
  color: #e07daf ;
  font-size: 20px;
  
}
h1{
color: rgb(229, 107, 143);
font-size: 62px;
margin: 0;
}
p{
font-family: 'Roboto', sans-serif;
margin: 17px;
padding: 0;
text-decoration: none;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
transition: all .2s linear;
}

html{
font-size: 62.5%;
overflow-x: hidden;
scroll-behavior: smooth;
scroll-padding-top: 7rem;
}
html::-webkit-scrollbar-track{
background: transparent;
}
html::-webkit-scrollbar{
width:1rem;
}

section{
padding:3rem 9%;
}
span{
color:#F08080;
}

.heading{
text-align: center;
color: #222;
margin-bottom: 3rem;
font-size: 4rem;
}

.btn{
display:inline-block;
margin-top:1rem;
padding:1rem 3rem;
color:#222;
font-size:1.7rem;
box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
cursor: pointer;
}
.btn:hover{
letter-spacing: .1rem;
background: #F08080;
color: #fff;
}


@keyframes fadeIn{
0%{
    opacity: 0;
    transform: translateY(-4rem) scale(0.4);
}
}
.header{
position: sticky;
top: 0;
left: 0;
right: 0;
z-index: 1000;
box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
background:#fff;
display: flex;
align-items: center;
justify-content: space-between;
padding:1.5rem 9%;

}
.header .logo{
font-size: 2.5rem;
color: #ad2e2e;
font-weight: bolder;
  font-family:'Courier New', Courier, monospace; /* Change the font family */
  font-size: 50px; /* Change the font size */


}
.header .logo i{
color: #F08080;

}
.header .navbar a{
margin: 0 1.5rem;
font-size: 1.7rem;
color: #222;
}
.header .navbar a:hover{
color: #F08080;
}
.header .icons div,
.header .icons a{
height: 4.5rem;
width:4.5rem;
line-height: 4.5rem;
border-radius: .5rem;
background: #eee;
font-size: 1.7rem;
color: #222;
margin-left: .3rem;
text-align: center;
cursor: pointer;
}
.header .icons a:hover,
.header .icons div:hover{
background: #F08080;
color: #fff;
}
.header #menu-btn{
display: none;
}
/*
.home{
position: relative;
padding:0;
}

.home .slide{
padding: 3rem;
display: flex;
min-height: 90vh;
display:none;
}
.home .slide .content{
margin:60;
text-align: left;
padding-top:18rem;
}
.home .slide.active{
display:flex;
}

.home .slide .content span{
color: #fff;
display:block;
font-size: 9rem;
text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
animation: fadeIn .2s linear backwards;
text-transform: uppercase;
letter-spacing: .1rem;
}
.home .slide .content span:hover{
color: #F08080;
}
.home .slide .content h3{
font-size:1.7rem;
color: #fff;
text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
animation: fadeIn .2s linear backwards .4s;
letter-spacing: .1rem;
font-weight: normal;

}
.home .slide .content .btn{
animation: fadeIn .2s linear backwards .6s;
}
*/
.home #next-slide,
.home #prev-slide{
height:5rem;
width:5rem;
line-height:4.5rem;
font-size:2.5rem;
color: #222;
background: transparent;
box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.9);
cursor: pointer;
position: absolute;
bottom:2rem;
right:2rem;
text-align: center;
}

.home #next-slide:hover,
.home #prev-slide:hover{
background: #F08080;
color: #fff;
}

.home #prev-slide{
right:8rem;
}

.category .box-container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
gap:2rem;
}

.category .box-container .box{
text-align:center;
}

.category .box-container .box:hover h3{
color: #F08080;
}
.category .box-container .box img{
height:14rem;
margin-bottom:1rem;
}

.category .box-container .box h3{
font-size:1.7rem;
color: #222;
font-weight: bold;
}

.about {
display: flex;
align-items: center;
flex-wrap: wrap;
gap:2rem;
}
.about .img{
flex: 1 1 42rem;
padding-bottom: 5rem;
padding-right: 5rem;
}
.about .img img{
width: 100%;
box-shadow: 4rem 4rem 0 #eee;
}
.about .content{
flex: 1 1 42rem;
}
.about .content .box{
padding: 3rem;
background: #eee;
}
.about .content .box h3{
font-size:2.5rem;
color: #222;
}
.about .content .box p{
padding: 1rem 0;
line-height: 2;
color: #666;
font-size:1.4rem;
}
.about .content .icons-container{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
gap: 2rem;
margin-top: 2rem;
}
.about .content .icons-container .icons{
flex: 1 1 16rem;
background: #eee;
padding:2rem;
text-align: center;
}
.about .content .icons-container .icons i{
color: #F08080;
margin-bottom: 1rem;
font-size: 5rem;
}
.about .content .icons-container .icons p{
font-size:1.4rem;
color: #666;
}



/*

.services{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
gap:2rem;
/* background: #F08080; 
}
.services .box{
text-align: center;
padding:2rem;
}
.services .box img{
height:10rem;
}
.services .box h3{
padding:1rem 0;
font-size: 2rem;
color: #fff;
}
.services .box p{
line-height: 2;
font-size: 1.4rem;
color: #fff;
}
*/
.footer .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
gap:2rem;
}
.footer .box-container .box h3{
font-size: 2.2rem;
color: #222;
padding:1rem 0;
}
.footer .box-container .box .link{
padding:1rem 0;
font-size: 1.4rem;
color: #666;
display:block;
}
.footer .box-container .box .link i{
padding-right: .5rem;
color: #F08080;
}
.footer .box-container .box .link:hover{
color: #F08080;
}
.footer .box-container .box .link:hover i{
padding-right: 2rem;
}
.footer .box-container .box .share{
margin-top: 2rem;
}
.footer .box-container .box .share a{
height:4.5rem;
width:4.5rem;
line-height: 4.5rem;
font-size: 1.7rem;
border-radius: .5rem;
background: #eee;
text-align: center;
color: #222;
margin-right: .5rem;
}
.footer .box-container .box .share a:hover{
color: #fff;
background: #F08080;
}
.button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #dd6990; /* Button color */
         
          text-decoration: none;
          border-radius: 5px; /* Rounded corners */
          font-weight: bold;
          transition: background-color 0.3s ease;
      }

      .button:hover {
          background-color: #34032d; /* Darker color on hover */
      }


      .image-container {
        display: flex; /* Use flexbox to align images horizontally */
        justify-content: space-between; /* Distribute space evenly between images */
        border: 1px solid #ccc; /* Optional: Add border around the box */
        padding: 10px; /* Optional: Add padding inside the box */
      }
      
      .image-container img {
        max-width: 25%; /* Set maximum width for each image */
        height: auto; /* Maintain aspect ratio */
      }
 





