
body {
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/487/827/non_2x/seamless-pattern-of-hairdressing-tools-scissors-combs-spray-rose-butterfly-beads-perfume-profile-of-a-girl-with-a-hairstyle-image-free-vector.jpg');
   
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color:#f7dcf5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: deeppink;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/487/827/non_2x/seamless-pattern-of-hairdressing-tools-scissors-combs-spray-rose-butterfly-beads-perfume-profile-of-a-girl-with-a-hairstyle-image-free-vector.jpg');

font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
header {
background-color: #333;
color: #fff;
padding: 10px 20px;
}
nav {
text-align: center;
background-color: #555;
padding: 10px 20px;
}
nav a {
color: #fff;
text-decoration: none;
margin-right: 20px;
}
.container {
padding: 20px;
}
.dashboard {
background-color: #f4f4f4;
padding: 20px;
margin-bottom: 20px;
}
.quick-actions {
margin-bottom: 20px;
}
.quick-actions button {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
cursor: pointer;
margin-right: 10px;
}
.quick-actions button:hover {
background-color: #0056b3;
}
.footer {
background-color: #333;
color: #fff;
padding: 10px 20px;
position: fixed;
bottom: 0;
width: 100%;
}
h1{
text-align: center;
}
